#logIn {
    height: 100vh;
}

.fondoInicioSesion {
    background-image: url('../imagenes/fondoImagenInicioSesion.png');
}

#iconLogotipo {
    height: 80px;
}

#fondo {
    background-color: rgb(245, 245, 245);
}

body {
    width: 100%;
    background-color: white
}

/*ELIMINAR GUTTER*/
.eliminarGutter {
    --bs-gutter-x: 0 !important;
}

/*Header de la página index*/
#headerCustom {
    /* background: linear-gradient(90deg, #7D36D0 0%, #5E1B9E 50%, #510D86 75%, #42006E 100%); */
    background-color: #833CDA;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    height: 10%;
    transition: background-color 0.3s ease;
    max-width: 100vw;
}

#headerCustom.scrolled {
    background: white;
}

/*Header General*/
.headerCustomGeneral {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 5px #5d043f;
    max-height: 100px;
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.iconosHeader {
    padding: 15px;
}

.iconosHeader img {
    padding-bottom: 5px;
}

.iconosHeader:hover img {
    box-shadow: 0px 2px 0px #5d043f;
    cursor: pointer;
}

.contenedorMenuIzquierda {
    padding-left: 15%;
}

/*Contenedor Menu Lateral*/
.contenedorMenuLateral {
    padding-top: 110px;
}

/*Footer de la página de index*/
#footerCustom {
    margin-top: 10%;
    min-height: 35vh;
    width: 100%;
    background-color: white;
    transition: background-color 0.8s ease;
    max-width: 100vw;
}

#footerCustom.scrolledFinal {
    background: rgb(236, 236, 236);
}

#footerCustomAdministrador {
    margin-top: 5%;
    min-height: 35vh;
    width: 100%;
    background-color: #5d043f;
    max-width: 100vw;
}

#footerCustomUsuario {
    margin-top: 10%;
    min-height: 35vh;
    width: 100%;
    /* padding-top: 5vh; */
    background-color: #5d043f;
    max-width: 100vw;
}

@media (max-width:1000px) {
    #footerCustom {
        background-color: rgb(236, 236, 236);
    }
}

.iconFooterTwitter {
    font-size: 3em;
    color: #7cbcf0;
    cursor: pointer;
}

.iconoFooterIg {
    font-size: 3em;
    background-image: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8d58ca);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.iconoFooterDiscord {
    font-size: 3em;
    color: #5a69ec;
    cursor: pointer;
}

.iconoFooterYoutube {
    font-size: 3em;
    color: #df343c;
    cursor: pointer;
}

.contenedorIconosFooter {
    background-color: white;
}

.contenedorIconosFooter .col-1 {
    transition: transform 0.3s ease;
}

.contenedorIconosFooter .col-1:hover {
    transform: scale(1.2);
}

.hrFooter {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #c5989e;
    opacity: 1;
}

.titulosFooter {
    color: #f5e1e2;
}

.elementosFooter {
    color: #c5989e;
}

/*Vista previa producto*/
/* Contenedor principal que ocupa todo el espacio disponible */
.contenedorVistaPrevia {
    display: flex;
}

/* Estilo para la columna de imagen */
.contenedorInfoImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 2%;
}

/* Estilo para la columna de información del libro */
.contenedorInfoLibro {
    background-color: white;
    border-radius: 4px;
    padding: 4% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorVistaPreviaImagen img {
    max-width: 100%;
    height: auto;
}

.iconoVistaPrevia {
    transform: scaleX(-1);
    cursor: pointer;
}

/*Cesta del usuario*/
.fondoFilaCesta {
    width: 95%;
}

.contenedorIzquierdoCesta {
    min-height: 100px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.contenedorDerechoCesta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(243, 243, 243);
}

.iconoCestaBorrar {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -20px;
    width: 40px;
    height: 40px;
}

/*Modal préstamos*/
#contenedorLibrosModal {
    border: 1px solid black;
    height: 30%;
}

#contenedorMapaModal {
    border: 1px solid black;
    height: 60%;
}

#contenedorFecha {
    border: 1px solid black;
    height: 30%;
}

.iframeModal {
    min-height: 200px;
    width: 80%;
    margin: 0 auto;
}

.portadaSlide {
    width: 100px;
    height: 100px;
}

#botonComprar {
    position: relative;
}

#botonOcultoCerrarOffcanvas {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: unset;
}

.menuAdminIcon {
    color: #c5989e;
    transition: color 0.5s ease;
    font-size: 35px;
}

.menuAdminIcon:hover {
    color: #f5e1e2;
}

/*Menú lateral izquierdo*/
.offcanvasCustom {
    width: 18vh !important;
    background-color: #5d043f;
    max-width: 18vh !important;
}

.listaAdminOffcanvas {
    margin: 0 auto;
    background-color: #5d043f;
}

.iconoMenuLateralIzquierdo {
    padding: 40px;
}

.botonOffCanvasAdmin:focus {
    box-shadow: 0 0 0 1px #f5e1e2 !important;
}

.fondo {
    width: 100vw;
    height: 100vh;
}

.iconSeleccionado {
    color: #f5e1e2;
}

/*Panel inicio de administrador*/
#tabla-container {
    min-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.contenedorTituloPanelAdministrador {
    margin: 2%;
}

#contenedor {
    background-color: white;
    box-shadow: 2px 5px 10px #5d043f;
    border-radius: 5px;
}

.contenedorTabla {
    min-height: 40vh;
    width: 100%;
    background-color: #f0efef;
    margin-bottom: 10px;
}

.contenedorEncabezado {
    width: 100%;
    padding: 3% 3% 3% 0;
    background-color: #f0efef;
    min-height: 100px;
}

.contenedorEncabezado img {
    width: 40px;
}

.contenedorImagenFondoAdmin {
    height: auto;
    width: 25vh;
}

.textoFondoAdmin {
    color: #C0C0C0;
    font-size: 30px;
    font-weight: bold;
}

/*Cambiar datatable*/
table.dataTable thead tr th {
    border-right: 1px solid white !important;
    border-bottom: none !important;
    background-color: #5d043f;
    color: white !important;
}

table.dataTable thead tr th:hover {
    color: white !important;
}

table.dataTable thead tr th:last-child {
    background-color: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

/* table.dataTable tbody tr {
    border-bottom: 1px solid #5d043f !important;
}

table.dataTable tbody {
    background-color: white;
}

table.dataTable tbody tr:last-child {
    border-bottom: 1px solid white !important;
}

table.dataTable tbody td:last-child {
    border-left: 1px solid #5d043f !important;
} */

.encabezadoTabla {
    margin: 0 !important;
    position: relative !important;
    bottom: -5px !important;
    background-color: #5d043f !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    padding-left: 20px !important;
    color: white !important;
    border-bottom: 1px solid white !important;
}

.dt-search input {
    width: 75% !important;
    position: relative !important;
    bottom: -5px !important;
    background-color: white !important;
}

.dt-search label {
    display: none !important;
}

.table-centered td,
.table-centered th,
table.dataTable thead tr th {
    text-align: center !important;
    vertical-align: middle !important;
}

@media (max-width: 700px) {

    .table-centered.responsive td,
    .table-centered.responsive th {
        text-align: left;
        vertical-align: top;
    }
}

.dataTable i {
    font-size: 35px;
    padding: 10px;
}

.dataTables .dt-length select option {
    background-color: #ff0000 !important;
    /* Color de fondo */
    color: #333 !important;
    /* Color del texto */
    border: 1px solid #7bff00 !important;
    /* Borde */
    padding: 5px !important;
    border-radius: 4px !important;
}


/*Etiquetas dentro de dataTable*/

.noDisponibleColorFondo {
    position: absolute;
    background-color: #f7a306;
    padding: 5px;
    border-radius: 25px;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.noDisponible {
    position: relative;
    color: #f7a306;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.errorFaltaUnDatoColorFondo {
    position: absolute;
    background-color: #C60021;
    padding: 5px;
    border-radius: 25px;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.errorFaltaUnDato {
    position: relative;
    color: #C60021;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}


/*Iconos de dentro de las tablas*/
.iconVisualizacion,
.iconCustomVaciar,
.iconCustomUpdate {
    color: #5d043f;
}

.iconCustomTrash {
    color: #dc3545;
    cursor: pointer;
}

.iconCustomTrash,
.iconCustomUpdate,
.iconCustomVaciar,
.iconVisualizacion :hover {
    cursor: pointer;
}

/*Desplegable modificado*/
.seleccionDropDownMenu:hover {
    border: none;
    background-color: #5d043f;
    color: #f5e1e2;
}

.desplegableTriangulo::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    left: 30px;
    z-index: -1;
    border-top: inherit;
    border-left: inherit;
}


.formularioModificarUsuario {
    margin-bottom: 10%;
}

#tablaLibros {
    width: 100% !important;
}

/*catalogo usuario*/

.cartaCatalogo {
    background-color: transparent;
    transition: transform 0.3s ease;
    min-width: 200px;
    min-height: 200px;
    height: 350px;
    margin: 3%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cartaContendorImagen {
    position: relative;
    height: 80%;
    margin: 5% 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorBotonCarta {
    visibility: hidden;
    width: 100%;
    height: 50px;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.cartaCatalogo:hover .contenedorBotonCarta {
    visibility: visible;
}  

.contenedorFiltros {
    height: 200px;
    display: flex;
}

.contenedorLibros {
    min-width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartaCatalogo:hover {
    transform: scale(1.05);
} 

.botonNombreLibro {
    color: white;
    background-color: #5d043f;
    border: none;
}

.contenedorBuscador {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 80%;
    height: 50px;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 10%;
}

.contenedorBuscador input {
    border: none;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid #5d043f;
    min-width: 150px;
    width: 15%;
}

.contenedorBuscador input:focus-visible {
    outline: none;
}

.contenedorCartaFiltros {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #3EB049;
    height: 200px;
}




.iconoImagenesIndex {
    max-width: 50%;
    height: auto;
}

.contenedorInfoWeb {
    background-color: white;
    padding: 5%;
}

.contenedorInfoWebGris {
    background-color: rgb(248, 248, 248);
}

.contenedorFondoInicio {
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
}

.contenidoFondoColor {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 60%;
    height: 60%;
    background-color: #f5e1e2;
    ;
    opacity: 0.5;
    padding-bottom: 40%;
}

.contenedorBienvenida {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 40%;
    height: 60%;
    padding-bottom: 40%;
}

.tituloWeb {
    font-family: 'TituloWeb';
    color: #f5e1e2;
    font-size: 80px;
    margin: 0;
    padding-top: 8px;
}

/*Fuentes generales (titulos, cuerpo...)*/
@font-face {
    font-family: 'TitulosPrimeros';
    src: url('../fuentes/Insanibc.ttf') format('opentype');
}

@font-face {
    font-family: 'TitulosTerceros';
    src: url('../fuentes/Dunkin.otf') format('opentype');
}

@font-face {
    font-family: 'TitulosSegundos';
    src: url('../fuentes/TypoGraphica_demo.otf') format('opentype');
}

@font-face {
    font-family: 'letraCuerpo';
    src: url('../fuentes/JMH\ Typewriter-Thin.ttf') format('opentype');
}

.tituloBienvenida {
    font-family: 'TitulosSegundos';
    color: #5d043f;
    font-size: 60px;
}

.contenedorIconos {
    width: 50px;
}

.segundosTitulos {
    font-family: 'TitulosSegundos';
    font-size: 4vw;
    color: #833CDA;
    ;
}

.tercerosTitulos {
    font-size: 2vw;
    color: black;
    font-weight: bold;
}

.contenedorTitulosAcercaDeNosotros {
    padding-bottom: 5%;
    color: #5d043f;
}

.contenedorTextoAcercaDeNosotros {
    color: black;
    /* font-family: 'letraCuerpo'; */
    font-size: 20px;
}

.tituloPanelAdministracion {
    font-family: 'TitulosSegundos';
    color: #5d043f;
    font-size: 70px;
}

.tituloEncabezadoTabla {
    font-size: 40px;
    font-weight: bold;
}

/*Página Index Contenedores de las cartas ODS*/

.contenedorODS {
    height: 550px;
    margin-top: 6%;
}

/*Gracias a esto solo afectara a la altura del primer div dentro de contenedorODS y no a sus hijos y así se adapten*/
.contenedorODS>div {
    height: 100% !important;
}

.contenedorCartaODS {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#ecosistema {
    height: 100%;
    margin: 0 45% 0 5%;
    background: #3EB049;
}

#educacion {
    height: 100%;
    margin: 0 5% 0 45%;
    background: #C60021;
}

@media (max-width: 992px) {
    .contenedorODS {
        height: 350px;
    }

    #educacion,
    #ecosistema {
        margin: 0 5%;
    }
}

@media (max-width: 768px) {
    .contenedorODS {
        height: unset;
    }

    .contenedorODS div:first-child {
        margin-bottom: 40px;
    }
}

.contenedorImagenODS {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.contenedorImagenODS img {
    width: 50%;
    height: auto;
}

.contenedorCarta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    color: #00000098;
    border-radius: 5px;
    pointer-events: none;
    font-size: 15px;
    transform: translatex(100%);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.contenedorCartaODS:hover .contenedorCarta {
    transform: translateY(0%);
}

/*Botones generales*/
.botonCustom {
    background-color: #5d043f;
    border: 1px solid #5d043f;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.botonCustom:hover {
    background-color: white;
    border: 1px solid #5d043f;
    color: #5d043f;
}

/*Página Inicio Sesión*/
.contenedorInicioSesion {
    position: relative;
    z-index: 1;
    padding: 5%;
    color: white;
    width: 70%;
    height: 45%;
}

.contenidoFondoColorInicioSesion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.contenedorBotonInicioSeSesion {
    width: 70%;
}

.enlaceInicioSesion {
    color: #f5e1e2;
    border-bottom: #f5e1e2;
}

/*Página Resgistro*/
.contenedorRegistro {
    position: relative;
    z-index: 1;
    padding: 5%;
    color: white;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenidoFondoRegistro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.contenedorTituloRegistro {
    margin: 5%;
}

/*Formulario Incio Sesión y Registro (se usa la misma clase en ambos)*/

.formularioInicioSesion input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #f5e1e2 solid;
    width: 100%;
    font-size: 18px;
    color: white;
}

.formularioInicioSesion input:focus {
    outline: 0;
}

/* .formularioInicioSesion input:valid {
    border-bottom-color: #39cf1b;
} */

.formularioInicioSesion label {
    position: relative;
    top: -35px;
    left: 0;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.formularioInicioSesion label span {
    display: inline-block;
    font-size: 18px;
    color: #f5e1e2;
    transition: inherit;
}

.formularioInicioSesion input:focus+label span,
.formularioInicioSesion input:valid+label span {
    color: white;
    transform: translateY(-30px);
}

/*Contenedor Superior página usuario*/
.contenedorTendencias {
    height: 60vh;
    margin: 5%;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 1%;
    background-color: white;
}

.cartaTendencia {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cartaTendencia .contenidoCartaTendencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
    text-align: center;
}

.cartaTendencia:hover {
    flex: 4;
}

.cartaTendencia img {
    max-width: 100%;
    max-height: 100%;
    transition: all .5s;
    transform: rotate(-90deg);
    opacity: 0;
}

.card span {
    color: #ff568e;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .5s;
}

.cartaTendencia:hover img {
    opacity: 1;
    transform: rotate(0);
}

.card:hover span {
    transform: rotate(0);
    opacity: 0;
}

.contenidoTop1 {
     background-color: #7a2e61;
}

.contenidoTop2 {
    background-color: #833c6b;
}

.contenidoTop3 {
    background-color: #94507d;
}

.contenidoTop4 {
    background-color: #a1648d;
}
.contenidoTop5 {
    background-color: #a77797;
}
.contenidoTop6 {
    background-color: #b695ab;
}


@media (max-width:1000px) {

    #iconLogotipo {
        height: 50px;
    }

    .listaHeader * {
        margin: 0 !important;
        padding: 0;
    }

}

@media (max-width:575.98px) {

    #iconLogotipo {
        height: 50px;
    }

    .listaHeader * {
        margin: 0 !important;
        padding: 0;
    }

}

.botonComenzar {
    position: relative;
    background-color: #ffffff;
    width: 200px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-top: 0.5px solid rgba(0, 0, 0, 0.35);
    border-left: 0.5px solid rgba(0, 0, 0, 0.35);
    padding-left: 40px;
    cursor: pointer;
    transition: 0.35s ease;
    color: #5d043f;
    width: 60%;
}

.botonComenzar:hover {
    padding-left: 0;
    padding-right: 40px;
}

.contenedorSVGBotonInicio {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    transition: 0.35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5d043f;
    border: 1px solid #5d043f;
}

.botonComenzar:hover .contenedorSVGBotonInicio {
    left: calc(100% - 55px);
    color: white;
    background-color: #5d043f;
}